body{
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
}

.cv{
  max-width: 1000px;
  margin: auto;
}

.top{
  display:flex;
  background:#0f6f78;
  color:white;
}

.photo-wrap{
  width:300px;
  background:#cfdfe3;
  padding:5px;
}

.photo{
  width:100%;
  height: 235px;
  object-fit:cover;
}

.top-info{
  padding:30px;
}

.line{
  height:2px;
  background:white;
  margin:10px 0;
}

.content{
  display:flex;
}

.left{
  width:300px;
  background:#dbe9ec;
  padding:20px;
}

.right{
  flex:1;
  padding:20px;
}

h2{
  border-bottom:2px solid #ccc;
  padding-bottom:8px;
}

.edu, .job-top{
  display:flex;
  justify-content:space-between;
  margin-bottom:10px;
}

.apti{
  padding-left:20px;
}

